html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

/* 
Skeleton Style */
.skeleton-title {
  background-color: black;
  height: 30px;
  margin-bottom: 7px;
  width: 280px;
}
.skeleton-content {
  background-color: lightgray;
  height: 60px;
  margin-bottom: 7px;
  width: 400px;
}
.skeleton-handle {
  background-color: lightgray;
  height: 30px;
  margin-bottom: 7px;
  width: 220px;
}

.skeleton-date {
  background-color: lightgray;
  height: 30px;
  margin-bottom: 7px;
  width: 200px;
}
.skeleton-notif-content {
  background-color: lightgray;
  height: 10px;
  width: 200px;
  margin-bottom: 7px;
}
.skeleton-notif-date {
  background-color: lightgray;
  height: 10px;
  width: 150px;
  margin-bottom: 7px;
}
.handle-skeleton {
  background-color: black;
  height: 15px;
  width: 220px;
  margin-bottom: 7px;
  vertical-align: middle;
}
.bio-skeleton {
  background-color: lightgray;
  height: 50px;
  width: 220px;
  margin-bottom: 7px;
}

/* Profile Style */
.image-wrapper {
  text-align: center;
  position: relative;
}
.image-wrapper .button {
  position: absolute;
  top: 80%;
  left: 70%;
}
.profile-image {
  width: 150px;
  height: 150px;
}
hr {
  border: none;
  margin: 0 0 10px 0;
}
.profile-details {
  text-align: center;
  font-size: 15px;
}
.profile-details span {
  vertical-align: middle;
}

/* Modal Style */
form {
  margin-top: 10px;
}
.modal {
  max-height: 100%;
  overflow: hidden;
}

input[type="submit"] {
  width: 100%;
  margin-top: 50px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}
